*.swp
/xcompose-generator/XComposeGen/Unicode.hi
/xcompose-generator/XComposeGen/Unicode.o
/xcompose-generator/XComposeGenerator.hi
/xcompose-generator/XComposeGenerator.o
/xcompose-generator/XComposeGenerator
/XCompose
