*.swp
/xcompose-generator/NP/Unicode.hi
/xcompose-generator/NP/Unicode.o
/xcompose-generator/XComposeGenerator.hi
/xcompose-generator/XComposeGenerator.o
/xcompose-generator/XComposeGenerator
/XCompose
